@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Oswald:wght@500&family=Rajdhani&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  position: relative;
  padding-top: 56.25%;
  animation-name: hoofIn;
  animation-duration: 3s;
}

@keyframes hoofIn {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.react-player {
  position: absolute;
  margin-top: -60px;
  top: 0;
  left: 0;
  z-index: -1;
}

.slogan-satu {
  width: 100%;
  /* float: left; */
  /* inset: 30% 50% 30% 0; */
  z-index: 10;
  margin-top: -600px;
  position: relative;
  animation-name: slideLeft;
  animation-duration: 2s;
  display: flex;
  justify-content: space-evenly;
}

@keyframes slideLeft {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.satu {
  font-size: 25pt;
  letter-spacing: 47px;
  font-family: 'Bebas Neue', cursive;
  text-indent: 5%;
  margin-right: 10%;
}

.satu span {
  font-size: 70pt;
  letter-spacing: 11px;
  color: #03989e;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  line-height: 80%;
}

.dua {
  font-size: 25pt;
  letter-spacing: 55px;
  font-family: 'Bebas Neue', cursive;
  text-indent: 5%;
  margin-left: 10%;
}

.dua span {
  font-size: 70pt;
  letter-spacing: 11px;
  color: #03989e;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  line-height: 80%;
}

.satu,
.dua {
  width: 100%;
  text-align: center;
}
